@font-face {
    font-family: 'digital-7';
    src: url('digital-7 (mono).ttf');
}

@mixin row {
    :first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    :last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    :nth-child(1n) {
        border: 2px solid black;
    }

    :nth-child(1n+2) {
        border-left: 0;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;

    >section:nth-child(1n+2) {
        margin-top: 1rem
    }

    justify-items: center;
    padding: 2rem;
    margin: 0;
    background: radial-gradient(circle, transparent 20%, #a89e92 20%, #a89e92 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #a89e92 20%, #a89e92 80%, transparent 80%, transparent) 20px 20px,
    linear-gradient(#4e483d 1.6px, transparent 1.6px) 0 -0.8px,
    linear-gradient(90deg, #4e483d 1.6px, #a89e92 1.6px) -0.8px 0;
    background-size: 40px 40px,
    40px 40px,
    20px 20px,
    20px 20px;

    #input,
    #calc,
    #result {
        display: flex;
        @include row;
    }
}

button {
    padding: 2px 5px;
    width: 2rem;
    min-width: fit-content;
    box-shadow: 2px 2px 3px 0px black;
    border: 1px solid black;
    outline: none;
    background: linear-gradient(lighten(#cccccc, 10%), lighten(#e6e6e6, 10%));
    z-index: 1;

    &:hover {
        background: linear-gradient(#cccccc, #e6e6e6);
    }

    &:active {
        @extend .pressed;
    }

}

input {
    z-index: 1;
    font-family: digital-7;
    font-size: 1.5rem;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 2px 2px 3px 0px black;
    margin: 0;
    width: 13rem;
    outline: none;
    padding: 5px 10px;
    text-align: right;
}

span {
    text-transform: uppercase;
    justify-content: right;
    padding: 2px 5px;
    min-width: 4rem;
    display: flex;
    text-align: end;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 2px 2px 3px 0px black;
}

.pressed {
    transform: translateY(1px);
    box-shadow: 1px 1px 1px 0px black;
    z-index: 0;
}